.detail-quiz-container {
    display: flex;
    gap: 20px;
    padding: 50px;
}

.detail-quiz-container .left-content {
    border: 2px solid #ccc;
    width: 70%;
    border-radius: 5px;
    padding: 20px;
}

.detail-quiz-container .left-content .title {
    font-size: 30px;
    font-weight: 600;
}

.detail-quiz-container .left-content .q-content {
    text-align: center;
}

.detail-quiz-container .left-content .q-content .question {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;
}

.detail-quiz-container .left-content .q-content .q-image {
    width: 100%;
    height: 100px;
}

.detail-quiz-container .left-content .q-content .q-image img {
    max-width: 100px;
    max-height: 100px;
}

.detail-quiz-container .left-content .q-content .answer .a-child {
    text-align: left;
    padding-left: 50px;
}

.detail-quiz-container .left-content .footer {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.detail-quiz-container .right-content {
    border: 2px solid #ccc;
    width: 30%;
    border-radius: 5px;
    padding: 20px;
}

.detail-quiz-container .right-content .main-timer {
    border-bottom: 1px dashed #ccc; /* Added color for border */
    padding-bottom: 20px;
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    font-size: 20px;
}

.detail-quiz-container .right-content .main-question {
    display: flex;
    gap: 20px;
    padding: 15px;
    flex-wrap: wrap;
}

.detail-quiz-container .right-content .main-question .question {
    border: 1px solid rgb(130, 126, 126);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 0.3s ease; /* Added smooth transition for hover effect */
}

.detail-quiz-container .right-content .main-question .question:hover {
    color: red;
}
